<p id="notice"><%= notice %></p>

<p>
  <strong>Soluongmua:</strong>
  <%= @quatang.soluongmua %>
</p>

<p>
  <strong>Soluongtang:</strong>
  <%= @quatang.soluongtang %>
</p>

<p>
  <strong>Giamgiathem:</strong>
  <%= @quatang.giamgiathem %>
</p>

<p>
  <strong>Ctkhuyenmai:</strong>
  <%= @quatang.ctkhuyenmai_id %>
</p>

<%= link_to 'Edit', edit_quatang_path(@quatang) %> |
<%= link_to 'Back', quatangs_path %>
