<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><p id="notice"><%= notice %></p></div>
        <div class="col-md-4"></div>
        
    </div>
</div>
<div class="breadcrumb-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-container">
                    <ul>
                        <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="/">Sản phẩm</a></li>
                        <li><a href="#">Chi tiết</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<%@ctsanphamccc = Ctspham.where(:sanpham_id => @sanpham.id)%>
<input type="hidden" id= "giamgia" value="<%= @tylegiam%>" %>
<% @ctsanphamccc.each do |ccc|%>
    <%@banggggium = Banggium.where(:ctspham_id => ccc.id).last%>
    <% banggiatheos = Banggium.find(@banggggium.id)%>
    <input type="hidden" id= "<%= ccc.id%>" value="<%= banggiatheos.gia%>" %>
<% end%>

<%= form_for(:ct_sp_ch, url: ct_sp_ches_path) do |form|%>
<div class="single-product-content ">
    <div class="container-fluid">
        <!--=======  single product content container  =======-->
        <div class="single-product-content-container mb-35">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-12">  <!-- product image gallery -->
                    <div class="tab-pane fade show active" id="single-slide1" role="tabpanel" aria-labelledby="single-slide-tab-1">
                                <!--Single Product Image Start-->
                        <div class="single-product-img easyzoom img-full">
                            <img src="/images/thucuong/<%= @sanpham.anh %>" class="img-fluid"
                                alt="">
                        </div>
                        <!--Single Product Image End-->
                    </div>
                    <div class="sidebar-area">
                        <div class="sidebar mb-35">
                            <h3 class="sidebar-title">THÀNH PHẦN THÊM:</h3>
                            <ul class="product-categories">
                                <%counter = 1%>
                                <% @chonthems.each do |chonthem| %>
                                    
                                    <li class="container">
                                        <div class="row">

                                            <div class="col-md-8">
                                                <% chonthemcb = "subchecked[#{counter.to_s}]"%>

                                                <h4>
                                                    <%= check_box_tag(chonthemcb, chonthem.id)%>
                                                    <%= label_tag(chonthemcb, chonthem.tenthanhphan) %>
                                                </h4>
                                                <% counter = counter + 1%>
                                            </div>
                                            <div class="col-md-4"> <h4 class="text-right"> +<%= chonthem.gia %>đ</h4></div>
                                        </div>
                                    </li>
                                   
                                <% end %>
                            </ul>
                        </div>
                     </div>
                    <!-- end of product image gallery -->
                </div>
                    <div class="col-lg-6 col-md-12 col-xs-12">
                        <!-- product quick view description -->
                        <div class="product-feature-details">
                            <h2 class="product-title mb-15"><%= @sanpham.tensanpham%></h2>

                            <p class="product-rating">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star"></i>

                                <a href="#">(1 customer review)</a>
                            </p>
                            
                            <h2 class="product-price mb-15" >
                                <!--<span class="main-price">$12.90</span>-->

                                
                                    <input type="hidden" name="dongia" id="dongia" value="<%= @bangiums.gia %>">
                                    
                                    <%if @tylegiam != 0%>
                                        <span class="main-price" id="giahiengio1"></span><span class="main-price">đ</span> -
                                        <span class="discounted-price" id="giakhuyenmai"></span>đ 
                                    <%else%>

                                        <span class="discounted-price" id="giahiengio"></span>đ 
                                    <%end%>
                                    
                                

                            </h2>

                            <p class="product-description mb-20"><%= @sanpham.mota%></p>
                            <div class="calculate-shipping">
                                
                                    <div class="row">
                                        <div class="col-md-6 col-12 mb-25">
                                            <h3>Chọn Size</h3>
                                             
                                                <select class="nice-select" name="size[id]" id="size_id">
                                                     <option value="0" hidden="true">Vui lòng chọn size</option>
                                                    <% @sizes.each do |size| %>
                                                        <% @ctsanphams.each do |ctsanpham| %>
                                                            <% if size.id == ctsanpham.size_id%>
                                                               <option value="<%= ctsanpham.id %>" name = "444" >
                                                                   <%= label_tag size.tensize, nil, class: 'loadgiadi' %>                     
                                                                </option>
                                                                 
                                                                <%break%>
                                                            <% end %>
                                                        <% end %>
                                                    <% end %>
                                                </select>
                                              

                                              
                                            

                                        </div>
                                        <div class="col-md-6 col-12 mb-25">

                                            <%= form.hidden_field :ctspham_id, name: "ctspham_id", id: "ctspham_id"%>
                                        
                                            
                                            
                                        </div>
                                        
                                        
                                        
                                    </div>
                                
                             </div>


                            <div class="cart-buttons mb-20">
                                <div class="pro-qty mr-20 mb-xs-20">
                                    <input type="number" class="loadtong" id="alice" name="soluong" min="1" max="10" value="1">
                                </div>
                                <button class="add-to-cart-btn" type="submit">
                                    <i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng
                                </button>
                            </div>

                            <div class="single-product-action-btn mb-20">
                                <a href="#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> Thêm vào ưa thích</a>
                            </div>
                        
                            <h2 class="product-price mb-15">
                                <%if @tylegiam != 0%>
                                    Tổng: <span class="main-price" id="mirror1"></span><span class="main-price">đ</span> -
                                    <span class="discounted-price" id="mirrorkhuyenmai"></span>đ 
                                <%else%>

                                    Tổng: <span class="discounted-price" id="mirror"></span>đ
                                <%end%>
                                
                            </h2>
                            <div class="single-product-category mb-20">
                                <h3>Loại <span><a href="#">...</a></span></h3>
                            </div>


                            <div class="social-share-buttons">
                                <h3>share this product</h3>
                                <ul>
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end of product quick view description -->
                    </div>
            </div>
        </div>
    </div>
</div>
<% end -%>
<div class="single-product-tab-section mb-35">
    
</div>
<script type="text/javascript">
    $(function savesize(){
        $('.nice-select').trigger('change'); //This event will fire the change event. 
        $('.nice-select').change(function(){
          var data= $(this).val();
          document.getElementById("dongia").value = document.getElementById(data).value;
          $('#giahiengio').text($('#dongia').val());
          $('#giahiengio1').text($('#dongia').val() );
          $('#giakhuyenmai').text($('#dongia').val() - $('#dongia').val() *  $('#giamgia').val());
          $('#mirror').text($('#alice').val()* $('#dongia').val());
          $('#mirror1').text($('#alice').val()* $('#dongia').val());
          $('#mirrorkhuyenmai').text($('#alice').val()* ($('#dongia').val()- $('#dongia').val() *  $('#giamgia').val()));
          document.getElementById("ctspham_id").value=data;
        });
    });
</script>
<script type="text/javascript">
    jQuery(function($) {
      $('#mirror').text($('#alice').val()* $('#dongia').val() );
      $('#mirror1').text($('#alice').val()* $('#dongia').val());
    $('#mirrorkhuyenmai').text($('#alice').val()* ($('#dongia').val()- $('#dongia').val() *  $('#giamgia').val()));
      $('#alice').on('input', function() {
        $('#mirror').text($('#alice').val()* $('#dongia').val());
          $('#mirror1').text($('#alice').val()* $('#dongia').val());
    $('#mirrorkhuyenmai').text($('#alice').val()* ($('#dongia').val()- $('#dongia').val() *  $('#giamgia').val()));
      });
    });         
</script>
<script type="text/javascript">
    jQuery(function($) {
      $('#giahiengio').text($('#dongia').val() );
      $('#giahiengio1').text($('#dongia').val() );
      $('#giakhuyenmai').text($('#dongia').val() - $('#dongia').val() *  $('#giamgia').val());
 
    });
</script>