<% @user = User.find(session[:user_id])%>
<%= form_with(model: khachhang) do |form| %>
  <div class="page-content mb-50">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-xs-12 col-lg-3 mb-30">
          
          </div>
          <div class="col-sm-12 col-md-12 col-xs-12 col-lg-5">
           

              <div class="login-form">
                <h4 class="login-title">Đăng ký</h4>

                <div class="row">
                 
              
                    <fieldset>
                      <div class="col-md-12 col-12 mb-20">
                        <label>Họ và Tên:</label>
                        <%= form.text_field :tenKH, :size => 40 %>
                      </div>
                       <div class="col-md-12 mb-20">
                        
                        <%= form.hidden_field :sodienthoai, :value => @user.phone %>
                      </div>
                      <div class="col-md-12 mb-20">
                        <label>Địa chỉ:</label>
                         <%= form.text_field :diachi %>
                      </div>
                      
                      <div class="col-12 ">
                             
                      <% if khachhang.errors.any? %>
                        <div>
                          <ul>
                            <% khachhang.errors.each do |error| %>
                              <li><%= error.full_message %></li>
                            <% end %>
                          </ul>
                        </div>
                      <% end %>
                      </div>
                      <div class="col-12">
                         <%= form.submit %>
                      </div>

                     
                       
                   
                    </fieldset>
                
                 
                </div>
              </div>

           
          </div>
        </div>
        <div class="row">
           
        </div>
      </div>
    </div>
<% end %>
