<p id="notice"><%= notice %></p>

<h1>Quatangs</h1>

<table>
  <thead>
    <tr>
      <th>Soluongmua</th>
      <th>Soluongtang</th>
      <th>Giamgiathem</th>
      <th>Ctkhuyenmai</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quatangs.each do |quatang| %>
      <tr>
        <td><%= quatang.soluongmua %></td>
        <td><%= quatang.soluongtang %></td>
        <td><%= quatang.giamgiathem %></td>
        <td><%= quatang.ctkhuyenmai_id %></td>
        <td><%= link_to 'Show', quatang %></td>
        <td><%= link_to 'Edit', edit_quatang_path(quatang) %></td>
        <td><%= link_to 'Destroy', quatang, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quatang', new_quatang_path %>
