<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Đồ Án Quản Lý
    </title>
    <title>Adminstrator Toco</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/images/toco.PNG">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> %>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
  
    <link rel="shortcut icon" href="/images/logo-m.jpg" type="image/png">
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- APP CSS -->
   
</head>

<body>

    <!-- SIDEBAR -->
    <div class="sidebar">
        <div class="sidebar-logo">
            <img src="/images/logo.png" alt="Comapny logo">
            <div class="sidebar-close" id="sidebar-close">
                <i class='bx bx-left-arrow-alt'></i>
            </div>
        </div>
        <div class="sidebar-user">
            <div class="sidebar-user-info">
                <img src="/images/user-image-3.png" alt="User picture" class="profile-image">
                <div class="sidebar-user-name">
                    Admin
                </div>
            </div>
            <button class="btn btn-outline">
                <i class='bx bx-log-out bx-flip-horizontal'></i>
            </button>
        </div>
        <!-- SIDEBAR MENU -->
        <ul class="sidebar-menu">
            <li>
                <a href="/dasboard" >
                    <i class='bx bx-home'></i>
                    <span>dashboard</span>
                </a>
            </li>
            <li>
                <a href="/khuyenmais">
                    <i class='bx bx-shopping-bag'></i>
                    <span>Giảm giá</span>
                </a>
            </li>
            <li>
                <a href="/thongke/theongay">
                    <i class='bx bx-chart'></i>
                    <span>Thống kê</span>
                </a>
            </li>
            <li class="sidebar-submenu">
                <a href="#" class="sidebar-menu-dropdown">
                    <i class='bx bx-user-circle'></i>
                    <span>account</span>
                    <div class="dropdown-icon"></div>
                </a>
                <ul class="sidebar-menu sidebar-menu-dropdown-content">
                    <li>
                        <a href="#">
                            edit profile
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            account settings
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            billing
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-submenu">
                <a href="#" class="sidebar-menu-dropdown">
                    <i class='bx bx-category'></i>
                    <span>Sản phẩm</span>
                    <div class="dropdown-icon"></div>
                </a>
                <ul class="sidebar-menu sidebar-menu-dropdown-content">
                    <li>
                        <a href="/sanphams">
                            danh sách 
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Thêm sản phẩm
                        </a>
                    </li>
                </ul>
            </li>
            <li>
               <a href="/dathangs"> 
                <i class="fa fa-cart-plus "></i>
                <span>Đơn hàng</span></a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-calendar'></i>
                    <span>Chi nhánh</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->

    <!-- MAIN CONTENT -->
    <div class="main">
        <!-- banner-->
        <%= yield %>
    </div>
    <!-- END MAIN CONTENT -->

    <div class="overlay"></div>

    <!-- SCRIPT -->
    <!-- APEX CHART -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script type="text/javascript">
      document.querySelectorAll('.sidebar-submenu').forEach(e => {
          e.querySelector('.sidebar-menu-dropdown').onclick = (event) => {
              event.preventDefault()
              e.querySelector('.sidebar-menu-dropdown .dropdown-icon').classList.toggle('active')

              let dropdown_content = e.querySelector('.sidebar-menu-dropdown-content')
              let dropdown_content_lis = dropdown_content.querySelectorAll('li')

              let active_height = dropdown_content_lis[0].clientHeight * dropdown_content_lis.length

              dropdown_content.classList.toggle('active')

              dropdown_content.style.height = dropdown_content.classList.contains('active') ? active_height + 'px' : '0'
          }
      })

    </script>

  
  
</body>

</html>
