
<div class="breadcrumb-area mb-50">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="breadcrumb-container">
          <ul>
            <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
            <li class="active"><a>Tài khoản</a></li>
            <li class="active"><a>Đăng Nhập</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-content mb-50">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-xs-12 col-lg-3 mb-30">
          
          </div>
          <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
          <!-- Login Form s-->
            <div class="login-form">
              <%= form_tag '/login' do %>
              <h4 class="login-title">Đăng nhập</h4>

              <div class="row">

                  <div class="col-md-12 col-12 mb-20">
                    <label>Tài khoản</label>
                    <%= text_field_tag :sodienthoai, params[:sodienthoai] %>
                  </div>
                  <div class="col-12 mb-20">
                    <label>Mật khẩu:</label>
                     <%= password_field_tag :password, params[:password] %>
                  </div>
                  <div class="col-md-12">
                    
                      <p id="notice"> <% if flash[:alert] %>
                        <p id="notice"><%= flash[:alert] %></p>
                        <% end %>
                      
                        <% if notice %>
                            <p id="notice"><%= notice %></p>
                        <% end %></p>
                      
                      
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"><%= submit_tag "Đăng nhập" %></div>
                    
                  </div>
                  <div class="row">
                    <div class="col-md-8"> <%= link_to 'Đăng ký', new_user_path %></div>
                    <div class="col-md-4"><a>Quên mật khẩu ?</a></div>
                     

                  </div>
              </div>
             
              <% end %>
            </div>

          
        </div>
        </div>
        
      </div>
    </div>


