
   <div class="main-header">
  <div class="container-fluid">
    <div class="tabs">
                 <button class="tablinks active" data-electronic="allproducts">Tất cả</button>
                 <button class="tablinks" data-electronic="Microcontrollers">Hoàn thành</button>
                 <button class="tablinks" data-electronic="module">Chưa hoàn thành</button>
              </div>
  </div>
            
          
</div>
<div class="main-content">
  <div class="box">
    <div class="box-body overflow-scroll">
      <div class="wrapper_tabcontent">
         <div id="allproducts" class="tabcontent active">
           <div class="panel-body"> 
            <table class="table table-striped table-bordered table-list"> 
            <thead> 
             <tr> 
              <th class="hidden-xs">Mã số</th> 
              <th>Ngày đăt</th> 
              <th>Ngày hoàn thành</th> 
              <th>giá</th> 
              <th>Tình trạng</th>
              <th>Khách hàng</th>
              <th><em class="fa fa-cog"></em></th>
             </tr> 
            </thead> 
            <tbody>
                <% @dathangs.each do |dathang| %>
               
              <tr>
                <td><a href="dathangs/<%= dathang.id%>"><u><%= dathang.id %></u></a></td>
                <td><%= dathang.ngaydat %></td>
                <td><%= dathang.ngaynhan %></td>
                <td><%= dathang.tonggiat %></td>
                <td><%= dathang.order_status.tenStt %></td>
                <td><%= dathang.khachhang.tenKH %></td>      
             
                 <td align="center"><a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                 </td> 
              </tr>
          <% end %>
           </tbody></table> 
          </div>
         </div>

         <div id="Microcontrollers" class="tabcontent">
            <div class="panel-body"> 
            <table class="table table-striped table-bordered table-list"> 
            <thead> 
             <tr> 
              <th class="hidden-xs">Mã số</th> 
              <th>Ngày đăt</th> 
              <th>Ngày hoàn thành</th> 
              <th>giá</th> 
              <th>Tình trạng</th>
              <th>Khách hàng</th>
              <th><em class="fa fa-cog"></em></th>
             </tr> 
            </thead> 
            <tbody>
                <% @dathangs.each do |dathang| %>
                 <%if dathang.order_status.tenStt == "Hoàn thành"%>
              <tr>
                <td><a href="dathangs/<%= dathang.id%>"><%= dathang.id %></a></td>
                <td><%= dathang.ngaydat %></td>
                <td><%= dathang.ngaynhan %></td>
                <td><%= dathang.tonggiat %></td>
                <td><%= dathang.order_status.tenStt %></td>
                <td><%= dathang.khachhang.tenKH %></td>      
               
                 <td align="center"><a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                 </td> 
              </tr> <%end%>
          <% end %>
           </tbody></table> 
          </div>
         </div>

         <div id="module" class="tabcontent">
           <div class="panel-body"> 
            <table class="table table-striped table-bordered table-list"> 
            <thead> 
             <tr> 
              <th class="hidden-xs">Mã số</th> 
              <th>Ngày đăt</th> 
              <th>Ngày hoàn thành</th> 
              <th>giá</th> 
              <th>Tình trạng</th>
              <th>Khách hàng</th>
              <th>Nơi nhận</th>
              <th><em class="fa fa-cog"></em></th>
             </tr> 
            </thead> 
            <tbody>
                <% @dathangs.each do |dathang| %>
                <%if dathang.order_status_id < 5 && dathang.order_status_id > 1%>
              <tr>
                <td><a href="dathangs/<%= dathang.id%>"><%= dathang.id %></a></td>
                <td><%= dathang.ngaydat %></td>
                <td><%= dathang.ngaynhan %></td>
                <td><%= dathang.tonggiat %></td>
                <td><%= dathang.order_status.tenStt %></td>
                <td><%= dathang.khachhang.tenKH %></td> 
                <td>
                  <% if dathang.diachinhan == nil%>
                    <%= dathang.khachhang.diachi%>
                  <%else%>
                    <%= dathang.diachinhan%>
                  <%end%>
                </td>     
           
                 <td align="center">
                  <%= form_with(model: @dathang, :url => dathang_path(dathang.id), method: :PATCH) do |form| %>
                    <% if dathang.order_status_id != 4%>
                      <input type="hidden" name="order_status_id" value="4">
                      <div class="cart-summary-button">
                        
                        <%= form.submit 'Giao hàng'%>
                      </div>
                    <%else%>
                      <input type="hidden" name="order_status_id" value="5">
                      <div class="cart-summary-button">
                        
                        <%= form.submit 'Hoàn thành'%>
                      </div>
                    <%end%>
                    <%end%>
                 </td> 
              </tr> <%end%>
          <% end %>
           </tbody></table> 
          </div>
           
         </div>
      </div>
    </div>
  </div>
</div>    

<script type="text/javascript">
  var tabLinks = document.querySelectorAll(".tablinks");
var tabContent =document.querySelectorAll(".tabcontent");

tabLinks.forEach(function(el) {
   el.addEventListener("click", openTabs);
});


function openTabs(el) {
   var btn = el.currentTarget; // lắng nghe sự kiện và hiển thị các element
   var electronic = btn.dataset.electronic; // lấy giá trị trong data-electronic
 
   tabContent.forEach(function(el) {
      el.classList.remove("active");
   }); //lặp qua các tab content để remove class active

   tabLinks.forEach(function(el) {
      el.classList.remove("active");
   }); //lặp qua các tab links để remove class active

   document.querySelector("#" + electronic).classList.add("active");
   // trả về phần tử đầu tiên có id="" được add class active
   
   btn.classList.add("active");
   // các button mà chúng ta click vào sẽ được add class active
}

</script>


