<p id="notice"><%= notice %></p>

<h1>Dathangs</h1>

<table>
  <thead>
    <tr>
      <th>Ngaydat</th>
      <th>Ngayduyet</th>
      <th>Ngaygiao</th>
      <th>Ngaynhan</th>
      <th>Hinhthucmua</th>
      <th>Phiship</th>
      <th>Tonggia</th>
      <th>Order status</th>
      <th>Vanchuyen</th>
      <th>Khachhang</th>
      <th>Cuahang</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dathangs.each do |dathang| %>
      <tr>
        <td><%= dathang.ngaydat %></td>
        <td><%= dathang.ngayduyet %></td>
        <td><%= dathang.ngaygiao %></td>
        <td><%= dathang.ngaynhan %></td>
        <td><%= dathang.hinhthucmua %></td>
        <td><%= dathang.phiship %></td>
        <td><%= dathang.tonggia %></td>
        <td><%= dathang.order_status_id %></td>
        <td><%= dathang.vanchuyen_id %></td>
        <td><%= dathang.khachhang_id %></td>
        <td><%= dathang.cuahang_id %></td>
        <td><%= link_to 'Show', dathang %></td>
        <td><%= link_to 'Edit', edit_dathang_path(dathang) %></td>
        <td><%= link_to 'Destroy', dathang, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dathang', new_dathang_path %>
