<div class="breadcrumb-area mb-50">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb-container">
                        <ul>
                            <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                            <li class="active"><a>Tài khoản</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% khachhang = Khachhang.where(sodienthoai:  session[:phone_user]).first%>
    <% khachhangx = Khachhang.find(khachhang.id)%>
    <% @user = User.find(session[:user_id])%>
    <!--=====  End of breadcrumb area  ======-->

    <!--=============================================
    =            My account page section         =
    =============================================-->

    <div class="my-account-section section position-relative mb-50 fix">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="row" id="tabs-container">

                        <!-- My Account Tab Menu Start -->
                        <div class="col-lg-3 col-12">
                           
                            <div class="myaccount-tab-menu  tabs-menu">
                                <a href="#dashboad" class="active" ><i class="fa fa-dashboard"></i>
                                   Bảng tin</a>

                                <a href="#orders"><i class="fa fa-cart-arrow-down"></i>Lịch sử mua hàng</a>

                                <a href="#download"><i class="fa fa-user"></i> Chi tiết tài khoản</a>

                                <a href="#payment-method" ><i class="fa fa-credit-card"></i> Hình thức thanh toán</a>
                                
                            </div>
                        
                        </div>
                        <!-- My Account Tab Menu End -->

                        <!-- My Account Tab Content Start -->
                        <div class="col-lg-9 col-12">
                            <div class="tab" id="myaccountContent">
                                <!-- Single Tab Content Start -->
                                <div class="tab-content" id="dashboad" >
                                    <div class="myaccount-content">
                                        <h3>Dashboard</h3>

                                        <div class="welcome">
                                            <p>Hello, <strong><%= @user.name%></strong></p>
                                        </div>

                                    </div>
                                </div>
                                <!-- Single Tab Content End -->

                                <!-- Single Tab Content Start -->
                                <div class="tab-content" id="orders" >
                                    <div class="myaccount-content">
                                        <h3>Lịch sử mua hàng</h3>

                                        <div class="myaccount-table table-responsive text-center">
                                            <table class="table table-bordered">
                                                <% @dathangs = Dathang.where(khachhang_id: khachhangx.id)%>
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Mã đơn hàng</th>
                                                        <th>Tình trạng</th>
                                                        <th>Tổng giá</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <% @dathangs.each do |dathang|%>
                                                        <tr>
                                                            <td><%= dathang.id%></td>
                                                            <td><%= dathang.order_status.tenStt%></td>
                                                            <td><%= dathang.tonggia%></td>
                                                        </tr>   
                                                    <% end%>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->

                                <!-- Single Tab Content Start -->
                                <div class="tab-content" id="download" >
                                    <div class="myaccount-content">
                                        <h3>Thông tin tài khoản</h3>

                                       <div class="account-details-form">
                                           
                                                <div class="row">
                                                   
                                                    <address>
                                                          
                                                        <p><strong><%= khachhangx.tenKH%></strong></p>
                                                        <p>Điểm: <%= @user.point%> điểm</p>
                                                        <p>Địa chỉ: <%= khachhangx.diachi%></p>
                                                        <p>Mobile: <%= @user.phone%></p> 
                                                       
                                                    </address>
                                                </div>
                                                <div class=row>
                                                    <% if khachhangx == nil%>
                                                        <%= link_to 'Thêm thông tin', new_khachhang_path %><i class="fa fa-edit"></i>
                                                    <%else%>
                                                        <%= link_to 'Sửa thông tin', edit_khachhang_path(khachhangx) %> <i class="fa fa-edit"></i>

                                                    <%end%>
                                                   
                                                </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->

                                <!-- Single Tab Content Start -->
                                <div class="tab-content" id="payment-method">
                                    <div class="myaccount-content">
                                        <h3>Hình thức thanh toán</h3>

                                        <p class="saved-message">Bạn chưa lưu Phương thức thanh toán của mình.</p>
                                    </div>
                                </div>
                           
                            </div>
                        </div>
                        <!-- My Account Tab Content End -->
                    </div>

                </div>
            </div>
        </div>
    </div>