<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @khachhang.tenKH %>
</p>

<p>
  <strong>Sodienthoai:</strong>
  <%= @khachhang.sodienthoai %>
</p>

<p>
  <strong>Diachi:</strong>
  <%= @khachhang.diachi %>
</p>

<%= link_to 'Edit', edit_khachhang_path(@khachhang) %> |
<%= link_to 'Back', khachhangs_path %>
